@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-reveal-button {
  display: none;

  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
 
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

}
